@import "vendor/normalize";
@import "vendor/skeleton";
@import "vendor/loader";

/* # Global
================================================== */

html, body {
  height: 100%;
}

body {
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #32323e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2em;
}

label, legend {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #6441a5;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
  &:hover, &:focus {
    color: #6441a5;
    border-color: #6441a5;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.image-wrapper img {
  width: 100%;
  display: block;
}

.error {
  color: #ff0033;
}

/* # Loader
================================================== */

.chart-wrapper {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.loader-walk {
  display: block;
}
.ready {
  .chart-wrapper {
    opacity: 1;
  }
  .loader-walk {
    display: none;
  }
}

/* # Header
================================================== */

.header {
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  .logo {
    font-weight: 100;
    &:hover, &:focus {
      border-color: transparent;
    }
  }
}

/* # General layout
================================================== */

$headerHeight = 15;
$mainHeight = 80;
$mobileHeaderHeight = 30;
$mobileMainHeight = 60;

.header {
  height: ($headerHeight)%;
  .header-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main-wrapper {
  position: relative;
  height: ($mainHeight)%;
  text-align: center;
}
.games {
  position: relative;
  display: inline-block;
  min-height: 320px;
  min-width: 320px;
}
@media screen and (max-width: 600px) {
  .header {
    height: ($mobileHeaderHeight)%;
    box-sizing: border-box;
  }
  .main-wrapper {
    height: ($mobileMainHeight)%;
  }
}

/* # Control panel
================================================== */
.controls-trigger,
.control-panel {
  position: absolute;
  top: -($headerHeight / $mainHeight * 100)%;
  left: 0;
  @media screen and (max-width: 600px) {
    top: -($mobileHeaderHeight / $mobileMainHeight * 100)%;
  }
}
.controls-trigger {
  margin-left: 10px;
  cursor: pointer;
  z-index: 999;
  margin-top: 10px;
}
.control-panel {
  display: inline-block;
  z-index: 99;
  padding: 45px 0 10px 0;
  border: 1px solid #eee;
  border-width: 0 1px 1px 0;
  background: #fefefe;
  border-radius: 0 0 0.5em 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
  text-align: left;
  max-width: 100%;
  width: 265px;
  &.open {
    transition-timing-function: ease-out;
    transform: translateX(0);
  }
}
.control-panel .field {
  vertical-align: bottom;
  margin-right: 20px;
  margin-left: 10px;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}
.control-panel .field input {
  width: 75px;
  margin: 0;
}
.control-panel .button-wrapper {
  text-align: center;
  & button {
    margin-top: 1rem;
  }
}
.control-panel .percent {
  display: inline-block;
  position: relative;
  input {
    padding-right: 30px;
  }
  &:after {
    content: '%';
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.control-panel .error {
  color: #ff0033;
  margin-right: 20px;
  margin-left: 10px;
}

/* # Credits
================================================== */

.fork-me img {
  max-width: 33%
}

.author {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
  color: #999;
  a {
    color: #999;
    &:hover, &:focus {
      border-color: #999;
    }
  }
  &:hover, &:focus {
    transition-timing-function: ease-out;
    opacity: 1;
  }
}

/* # Explanation
================================================== */

.explanation {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 56.5%;
  height: 56.5%;
  border-radius: 50%;
  text-align: center;
  color: #666;
  pointer-events: none;
  background: no-repeat;
  background-size: cover;
}

.explanation .info {
  position: absolute;
  background: rgba(100,65,165,0.85);
  color: #fefefe;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 20% 10%;
}
.explanation .info .inner-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.explanation .info .inner-info .stat {
  font-size: 2.5em;
  line-height: 1.25em;
  display: block;
}

.explanation .back-info {
  color: #fff;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.chart-zoomed .explanation .back-info {
  opacity: 0.5;
}

/* # Chart
================================================== */

.chart {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.chart path {
  stroke: #fff;
  stroke-width: 0.25;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.chart.active path {
  opacity: 0.3;
}

.chart.active path.current {
  opacity: 1;
}

.chart.zoomed path.game {
  opacity: 0;
}
