@import "vendor/normalize";
@import "vendor/skeleton";
@import "_loader";

html, body {
  height: 100%;
}

body {
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-family: sans-serif;
}

#chart, svg {
  display: none;
}
.loader-walk {
  display: block;
}
.ready {
  #chart, svg {
    display: block;
  }
  .loader-walk {
    display: none;
  }
}

.image-wrapper img {
  width: 100%;
  display: block;
}

.games {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .game-image {
    display: none;
  }
}
.controls-trigger {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 999;
}
#control-panel {
  position: absolute;
  display: inline-block;
  z-index: 99;
  left: 0;
  top: 0;
  padding: 50px 20px 20px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 0 0 0.5em 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
  &.open {
    transition-timing-function: ease-out;
    transform: translateX(0);
  }
}
}

#chart {
  position: absolute;
  top: 0;
  right: 0
  bottom: 0;
  left: 0;
}

#chart path {
  stroke: #fff;
}

svg {
  position: absolute;
  z-index: 1;
}

path {
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.active path {
  opacity: 0.3;
}

.active path.current {
  opacity: 1;
}

.zoomed path.game {
  opacity: 0;
}

#explanation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  left: 0;
  right: 0;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: 9;
  pointer-events: none;
}
#percentage {
  font-size: 2.5em;
}
