@import "vendor/normalize";
@import "vendor/skeleton";
@import "vendor/loader";

/* # Global
================================================== */

html, body {
  height: 100%;
}

body {
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #32323e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2em;
}

label, legend {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #6441a5;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
  &:hover, &:focus {
    color: #6441a5;
    border-color: #6441a5;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.image-wrapper img {
  width: 100%;
  display: block;
}

/* # Loader
================================================== */

.chart-wrapper {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.loader-walk {
  display: block;
}
.ready {
  .chart-wrapper {
    opacity: 1;
  }
  .loader-walk {
    display: none;
  }
}

/* # Header
================================================== */

.header {
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  .logo {
    font-weight: 100;
    &:hover, &:focus {
      border-color: transparent;
    }
  }
}

/* # General layout
================================================== */

.header {
  height: 15%;
}

.main-wrapper {
  position: relative;
  height: 80%;
  text-align: center;
}
.games {
  position: relative;
  display: inline-block;
  min-height: 320px;
  min-width: 320px;
}


/* # Control panel
================================================== */

.controls-trigger {
  position: absolute;
  margin-top: 10px;
  top: -18.75%;
  left: 10px;
  cursor: pointer;
  z-index: 999;
}
.control-panel {
  position: absolute;
  display: inline-block;
  z-index: 99;
  left: 0;
  top: -18.75%;
  padding: 45px 20px 10px 10px;
  border: 1px solid #eee;
  border-width: 0 1px 1px 0;
  background: #fefefe;
  border-radius: 0 0 0.5em 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
  &.open {
    transition-timing-function: ease-out;
    transform: translateX(0);
  }
}

/* # Author links
================================================== */

.author {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
  color: #999;
  a {
    color: #999;
    &:hover, &:focus {
      border-color: #999;
    }
  }
  &:hover, &:focus {
    transition-timing-function: ease-out;
    opacity: 1;
  }
}

/* # Explanation
================================================== */

.explanation {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 56.5%;
  height: 56.5%;
  border-radius: 50%;
  text-align: center;
  color: #666;
  pointer-events: none;
  background: no-repeat;
  background-size: cover;
}

.explanation .info {
  position: absolute;
  background: rgba(100,65,165,0.85);
  color: #fefefe;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 20% 10%;
}
.explanation .info .inner-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.explanation .info .inner-info .percentage {
  font-size: 2.5em;
  line-height: 1.25em;
}

.explanation .back-info {
  color: #fff;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.chart-zoomed .explanation .back-info {
  opacity: 0.5;
}

/* # Chart
================================================== */

.chart {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.chart path {
  // stroke: #fff;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.chart.active path {
  opacity: 0.3;
}

.chart.active path.current {
  opacity: 1;
}

.chart.zoomed path.game {
  opacity: 0;
}
