<main class="main-wrapper"
  data-ng-controller="MainController"
  data-ng-class="{'is-mobile': isMobile, 'chart-ready': chart.ready, 'chart-error': chart.error}">
  {% include "control-panel.html" %}
  <div class="games"
    data-games
    data-game-limit="chart.gameLimit"
    data-game-offset="chart.gameOffset"
    data-stream-limit="chart.streamLimit"
    data-efficiency="chart.efficiency"
    data-game-name="chart.gameName"
    data-refresh="chart.refresh"
    data-error="chart.error"
    data-ready="chart.ready">
  </div>
  {% include "../loader.html" %}
  <div class="chart-errors error container">
    <p class="api-error" data-ng-bind="chart.error"></p
  </div>
</main>
