<a class="controls-trigger"
    data-ng-bind="(!showControls ? 'open' : 'close') + ' controls'"
    data-ng-click="showControls = !showControls"></a>
<div data-ng-class="{open:showControls}" class="control-panel">
  <form data-ng-submit="chart.refresh = true;">
    <div class="field">
      <label for="game-offset">Games to skip</label>
      <input id="game-offset" type="number" min="0" step="1" data-ng-model="chart.gameOffset">
    </div>
    <div class="field">
      <label for="game-limit">Max games (0 for all)</label>
      <input id="game-limit" type="number" min="0" step="1" data-ng-model="chart.gameLimit">
    </div>
    <div class="field">
      <label for="stream-limit">Max streams per game (0 for all)</label>
      <input id="stream-limit" type="number" min="0" step="1" data-ng-model="chart.streamLimit">
    </div>
    <div class="field">
      <label for="efficiency">Hide all chart nodes below</label>
      <div class="percent">
        <input id="efficiency" type="number" min="0" max="100" step="0.001" data-ng-model="chart.efficiency">
      </div>
    </div>
    <div class="field button-wrapper">
      <button class="refresh" type="submit">Refresh data</button>
    </div>
    <p class="largereq-warning error" data-ng-show="calcRequests() > 110">
      <strong>Warning:</strong> refreshing with these settings could result in very long load times. Please consider reducing the number of games and/or streams.
    </p>
  </form>
</div>
